.navbar{
	height: 130px;
	border: none;
}
.nav{
	margin-top: 0px;
	float: right;
}
.container-fluid img{
	margin-top: 30px;
	margin-left: -10px;
}
.container-fluid ul .active{
	background: #b6124a;
	border-radius: 10px;
}
.container-fluid ul .active a{
	background: #b6124a;
}
.container-fluid ul li a{
	color: #797979;
}
.container-fluid ul li a:hover {
	color: #b6124a;
	background-color: white;
}
.container-fluid ul .active:hover a{
	color: #b6124a;
	background-color: white;
}
.container-fluid ul li ul{
		background-color: #35393c;
}
.container-fluid ul li ul li a:hover{
		background-color: grey;
		color: white;
}
