*{
	margin: 0px;
}

.outer{
	/*头部大盒子*/
	overflow: auto;
	background-color: #F0F0F0;
	border-bottom: solid grey 1px;
}
.top_logo{
	width: 170px;
}
.top_logo,.top_mid,.top_right{
	/*头部左中右三个小盒子*/
	float: left;
	height: auto;
}


.top_mid li{
	/*中间和右边小盒子里面内容*/
	float: left;
	margin-right: 2%;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 1.5%;
}
.top_right p{
	float: right;
	margin: 8% 2% 0 0;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}
.top_mid{
	width: 70%
}
.top_mid ul{
	list-style-type: none;
}
.top_mid li a, .top_right p a{
	display: block;
	color: black;
	text-align: center;
	padding: 3px;
	overflow: hidden;
	text-decoration: none;

}
.top_mid li a:hover {
	background-color: rgb(189,181,181);
}
.top_right p a:hover {
	background-color: rgb(189,181,181);
}
.top_right p {
	margin-left:  10px;
	text-align: center;
	font-family: '楷体',sans-serif;

}
.top_mid ul li ul{
	margin-left: -0.2px;
	background:rgb(189,181,181);
	position: relative;
	display: none;/*默认隐藏二级目录内容*/
}
.top_mid ul li ul li{
	float: none;
	text-align: center;
}
.top_mid ul li:hover ul{
	display: block;
}

.top_right{
	width: 10%;
	float: left;
}
.top_right p{
	text-align: right;
}
.new_right{
	border: solid 1px #A3D128;
	background-color: #A3D128
}
/*头部盒子修饰结束*/

.content{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 999;
	text-align: center;
	padding: 40px 22px 20px;
	background: rgba(255,255,255,0.04);
	box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.4);
	width: 370px;
	height: auto;
}
.content header{
	color: black;
	font-size: 33px;
	font-weight: 600;
	margin: 0 0 6px 0;
	font-family: '楷体',sans-serif;
}
.tishi{
	color: black;
	font-size: 12px;
	margin:0 0 10px 240px;
	text-align: right;
	padding: 3px;
	display: flex;
}
.tishi a{
	display: block;
	color: #3dc6ba;
	text-decoration: none;
}
.tishi:hover a{
	text-decoration: underline;
}
.field{
	position: relative;
	height: 45px;
	width: 100%;
	display: flex;
	background: rgba(255,255,255,0,94); 
}
.field input{
	height: 100%;
	width: 100%;
	background: #F0F0F0;
	border: none;
	outline: none;
	color: #222;
	font-size: 16px;
	font-family: '楷体',sans-serif;  

}
.between{
	margin-top: 20px;
}
input[type="submit"]{
	background-color: #D3E8B5;
	margin-top: 20px;
	margin-bottom: 10px: 
	border: 1px solid #2691d9;
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;

}
.use{
	margin-top: 30px;
	display: flex;
}
.other a{
	text-align: left;
	margin-right: 80px;
	color: #3dc6ba;
	font-family: '楷体',sans-serif;  
	text-decoration: none;

}
.forget a{
	text-align: right;
	margin-left:80px;
	color: #3dc6ba;
	font-family: '楷体',sans-serif; 
	text-decoration: none; 

}
.other:hover a{
	text-decoration: underline;
}
.forget:hover a{
	text-decoration: underline;
}

.mid_lowwer{
	background-color: #F1F1F1;
	height: 140px;
	width: 100%
}
.login{
	color: #CCCCCC;
	margin: 10px 10px;
	padding-top: 10px;
	font-family: '楷体',sans-serif;

}
.the_link{
	display: flex;
	cursor: pointer;
	margin: 0 0 20px 0;
}
.qq{
	width: 100%;
	height: 42px;
	text-align: right;
	margin-right: 20px;
}
.github{
	width: 100%;
	height: 42px;
	text-align: left; 
	margin-left:  20px;
}
.github img{
	margin-left: 10px;
}
.qq p{
	color: #CCCCCC;
	font-size: 20px;
	margin: 0 0 35px 0;
	font-family: 'BatangChe',sans-serif;
	text-align: right;
	margin-right: 4px;
}
.github p{
	color: #CCCCCC;
	font-size: 20px;
	margin: 0 0 35px 0;
	font-family: 'BatangChe',sans-serif;
	text-align: left;
}
/*表单部分结束*/

.site-footer {
    font-size: 14px;
    line-height: 1.8;
    color: #a8aaba;
    background: #32333b;
    margin-top: 600px;
}
.picture {
    float: left;
    width: 50px;
    margin-top: 35px;
    margin-right: 290px;
}
#a{
	width: 200px;
	height: 70px;
	margin-left: 120px;
} 
.bc{
	display: flex;
	margin: 0 10px 10px 160px;
	width: 50px;
	height: 50px;
}

.site-footer a {
    color: #a8aaba;
    text-decoration: none;
}
 
.site-footer a:hover {
    color: #f44;
    text-decoration: underline;
}
 
.site-footer .footer-article {
    padding: 30px 0 20px;
    overflow: hidden;
}
 
.site-footer :hover {
    background-size: 100%;
}
 
.site-footer .col-article {
    float: left;
    width: 150px;
    margin-left: 110px;
}
.site-footer .col-article .double{
	float: left;
} 
 .site-footer .col-article dt{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
    color: #d7d8d9;
}

.site-footer .col-article th{
	color: #d7d8d9;
	border-bottom-color: #2691d9;
	border-bottom-style: solid;
}
.site-footer .col-article td {
    margin-bottom: 8px;
    overflow: hidden;
    margin-left: 0;
}
 
.site-footer .col-article td a {
    font-size: 12px;
    color: #9b9ea0;
    overflow: hidden;
}
 

.footer-info .info-text {
    padding: 20px 0;
    font-size: 12px;
    margin-left: 90px;
    text-align: left;
}
 
.footer-info .info-text .nav-bottom {
    padding: 20px 0 5px;
    font-size: 14px;
    color: #ccc;
    text-align: center;
}

 
.footer-info .info-text .copyright {
    padding-top: 5px;
}
 
.footer-info .info-text em {
    padding: 0 8px;
}
/*底部结束*/

.side{
	width: 30px;
	height: 50px;
	background: #2691d9;
	position: fixed;
	margin-left: 97%;
	bottom: 280px;
	border-radius: 10%;
}
.side img{
	width: 30px;
	height: 25px;
	margin-top: 6px;
	text-align: center;
}
.side p{
		background: #2691d9;
		text-align: center;
		color: white;

}
.side .x p{
	margin-bottom: 10px;
	color: white;
	border-radius: 10%;

}
/*边上框框子结束*/